@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .my-masonry-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
  .my-masonry-grid_column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  /* Style items */
  .my-masonry-grid_column > div {
    background: grey;
    margin-bottom: 30px;
  }

  .fade-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: opacity 5s ease; /* 5s transition duration */
    z-index: -1;
  }
  .show {
    opacity: 1;
    z-index: 99;
  }
}
